@{
	ViewData["Title"] = "Home Page";

	//var caddress = HomeController.caddress;
	//var crooms = HomeController.crooms;

	//var address1 = ViewData["address"];
	//var rooms1 = ViewData["rooms"];
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	@*<p>The house's address is @ViewData[HomeController.caddress]</p>
		<p>Rooms has @ViewData[HomeController.crooms]</p>*@
	@*<p>=====================</p>
		<p>The house's address is @ViewData[caddress]</p>
		<p>Rooms has @ViewData[crooms]</p>
		<p>=====================</p>*@
	@*<p>The House's  Address is @address1</p>
		<p>Rooms has @rooms1</p>*@
	<p>
		<a href="~/Office">Office</a>
	</p>
	<p>
		<a href="~/Thorough">Thorough</a>
	</p>
	<p>
		<a href="~/Building">Building</a>
	</p>
	
	
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
